<div class="comments">
    <script src="https://giscus.app/client.js"
            data-repo="olgadk7/olgadk7.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnkxMTY1MDAwNTc="
            data-category="Announcements"
            data-category-id="DIC_kwDOBvGmWc4CkqeK"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light_high_contrast"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
</div>

<style>
    .comments {
        margin-top: 4em;
        padding-top: 2em;
        border-top: 1px solid #eee;
    }
</style>



<!-- <section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_shortname = '{{ site.disqus }}';
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section> -->
