<div class="comments">
    <div class="commentbox"></div>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
        commentBox('5632995931193344-proj', {
            className: 'commentbox',
            defaultColor: '#2196f3',
            textColor: '#333',
            subtextColor: '#666',
            backgroundColor: '#fff',
            singleSignOn: {
                buttonText: 'Sign in with Google',
                buttonIcon: 'google',
                providers: ['google']
            }
        });
    </script>
</div>

<style>
    .comments {
        margin-top: 4em;
        padding-top: 2em;
        border-top: 1px solid #eee;
    }
    
    .commentbox {
        max-width: 100%;
        margin: 0 auto;
    }
</style>



<!-- <section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_shortname = '{{ site.disqus }}';
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section> -->
